@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font-color: #8e2424;
  --secondary-font-color: #667085;
  --terciary-font-color: #3a404e;
  --fourth-font-color: #101828;
  --standard-line-heigth: 1.5;
  --large-vertical-padding: 6em;
  --large-horizontal-padding: 7rem;
  --medium-horizontal-padding: 4rem;
  --small-horizontal-padding: 2rem;
  --button-padding: 0.7em;
}

body {
  font-family: "Inter", sans-serif;
}

.navBar {
    padding: 1rem var(--small-horizontal-padding);
    font-size: .8em;
}

.navBar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  font-weight: 500;
}

.navBar__logo {
  width: 6rem;
}

.navBar__toogleMenu {
  display: block;
  visibility: visible;
  width: 1.5em;
  height: 1.5em;
}

.navBar__toogleMenu img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.navBar__links {
  display: none;
  visibility: hidden;
  flex-grow: 1;
  list-style-type: none;
}

.navBar__links li {
  padding: 0.5em 0;
}

.navBar__links a {
  color: var(--secondary-font-color);
  text-decoration: none;
}

.navBar__actions {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  gap: .5em;
}

.navBar__actions__login {
  padding: var(--button-padding);
  color: var(--secondary-font-color);
  text-decoration: none;
}

.navBar__actions__sign-in {
  background-color: var(--primary-font-color);
  padding: var(--button-padding);
  color: white;
  text-decoration: none;
  border-radius: 10px;
}

.navBar__menu {
  display: none;
  visibility: hidden;
  transition: all .5s ease;
}

.navBar__menu__bar {
  padding: .5em;
}

.navBar__menu a {
  color: var(--secondary-font-color);
  text-decoration: none;
  font-weight: 500;
}

.about {
  padding: var(--large-vertical-padding) var(--small-horizontal-padding);
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  text-align: center;
}

.about__subheading {
  color: var(--primary-font-color);
  font-weight: 600;
}

.about__title {
  font-size: 3rem;
  color: var(--fourth-font-color);
}

.about__text {
  font-size: 1.25rem;
  color: var(--secondary-font-color);
  line-height: var(--standard-line-heigth);
}

.metrics {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding: 0 var(--small-horizontal-padding) var(--large-vertical-padding);
  gap: 1.125em;
}

.metrics__item {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: .75em;
}

.metrics__item__number {
  font-size: 3.75rem;
  color: var(--primary-font-color);
  font-weight: 600;
}

.metrics__item__text {
  color: var(--fourth-font-color);
  font-weight: 500;
  font-size: 1.125rem;
}

.metrics__item__subtext {
  color: var(--secondary-font-color);
  line-height: var(--standard-line-heigth);
}

.jobs {
  padding: var(--large-vertical-padding) var(--small-horizontal-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}

.jobs__talents {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.jobs__talents__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25em;
}

.jobs__talents__content__bagde {
  background-color: #8e242415;
  color: var(--primary-font-color);
  padding: .25em .75em;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: .75em;
}

.jobs__talents__content__title {
  color: var(--fourth-font-color);
  font-size: 2.3rem;
  font-weight: 600;
  text-align: center;
}

.jobs__talents__content__text {
  color: var(--secondary-font-color);
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
}

.jobs__talents__image {
  width: 100%;
}

.jobs__board {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
}

.jobs__board__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.jobs__board__occupation-area {
  color: var(--fourth-font-color);
  font-size: 1.25rem;
  font-weight: 600;
}

.jobs__board__post {
  padding: 1.5em;
  border: 1px solid #eaecf0;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.jobs__board__post__title {
  color: var(--fourth-font-color);
  font-size: 1.125rem;
  font-weight: 600;
}

.jobs__board__post__details {
  color: var(--secondary-font-color);
  display: flex;
  gap: 1.5em;
}

.briefs {
  padding: 0 var(--small-horizontal-padding) var(--large-vertical-padding);
}

.briefs__container {
  background-color: #c3191909;
  padding: 4em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.briefs__subheading {
  color: var(--primary-font-color);
  font-weight: 600;
  text-align: center;
}

.briefs__content {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.briefs__quote {
  font-size: 2.125rem;
  font-weight: 500;
  text-align: center;
}

.briefs__attribuition {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.briefs__attribuition__name {
  color: var(--fourth-font-color);
  font-weight: 600;
}

.briefs__attribuition__occupation {
  color: var(--secondary-font-color);
  font-size: 0.875rem;
}

.footer {
  background-color: #f9fafb;
  padding: var(--large-vertical-padding) var(--small-horizontal-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.footer__head {
  color: var(--fourth-font-color);
  font-size: 2.125rem;
  text-align: center;
}

.footer__subhead {
  color: var(--secondary-font-color);
  text-align: center;
}

.footer__form {
  display: flex;
  gap: 1em;
}

.footer__form__input {
  width: 12em;
  padding: .75em;
  outline: none;
}

.footer__form__button {
  background-color: var(--primary-font-color);
  color: white;
  padding: var(--button-padding);
  border: none;
  border-radius: .75em;
  cursor: pointer;
}

.footer__text {
  color: #98a2b3;
  text-align: center;
}

.toogle {
  display: block;
  visibility: visible;
}

@media screen and (min-width: 28em) {
  .navBar {
    padding: 1rem var(--medium-horizontal-padding);
    font-size: .9em;
  }
  
  .about {
    padding: var(--large-vertical-padding) var(--medium-horizontal-padding);
  }

  .metrics {
    padding: 0 var(--medium-horizontal-padding) var(--large-vertical-padding);
  }

  .jobs {
    padding: var(--large-vertical-padding) var(--medium-horizontal-padding);
  }

  .jobs__board__content {
    width: 80%;
  }

  .briefs {
    padding: 0 var(--medium-horizontal-padding) var(--large-vertical-padding);
  }

  .footer {
    padding: var(--large-vertical-padding) var(--medium-horizontal-padding);
  }

  .footer__form__input {
    width: 22.5em;
  }
  
}

@media screen and (min-width: 58em) {
  .navBar {
    padding: 1em 7em;
    font-size: 1rem;
  }

  .navBar__links {
    display: block;
    visibility: visible;
  }

  .navBar__links li {
    display: inline;
    margin: 0 1rem;
    padding: 0;
  }

  .navBar__toogleMenu {
    display: none;
    visibility: hidden;
  }

  .navBar__menu {
    display: none;
    visibility: hidden;
  }

  .about {
    padding: var(--large-vertical-padding) var(--large-horizontal-padding);
  }

  .metrics {
    padding: 0 var(--large-horizontal-padding, --) var(--large-vertical-padding);
  }

  .jobs {
    padding: var(--large-vertical-padding) var(--large-horizontal-padding);
  }

  .jobs__talents {
    padding: 0 2em;
  }

  .jobs__board__content {
    width: 60%;
  }

  .briefs {
    padding: 0 var(--large-horizontal-padding) var(--large-vertical-padding);
  }

  .footer {
    padding: var(--large-vertical-padding) var(--large-horizontal-padding);
  }
}
